/* Section and Banner styling */
.section__banner {
    padding: 1.6rem 2rem;
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
    width: 100%;
}

/* Banner container and items */
.banner__track {
    display: flex;
    width: max-content; /* Make it twice the width of banner__items for the scrolling effect */
    animation: scroll 15s linear infinite; /* Apply animation */
}

.section__banner:hover .banner__track {
    animation-play-state: paused;
}

.banner__items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 12rem;
    margin-right: 12rem;
    /* Each set should take up 50% of the track width */
}

.banner__img {
    filter: grayscale(100%);
    height: 9rem;
    width: auto;
    max-height: 9rem;
    transition: filter 0.3s ease;
    opacity: 1;
    margin: 2rem;
}
/*.banner__img {
    height: 9rem;
    width: auto;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    margin: 0;
    opacity: 1;
    aspect-ratio: 16/10;
}*/

.banner__img:hover {
    filter: grayscale(0%);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
