/* Navbar Styling */
.navbar {
    background-color: var(--clr-headings);
    z-index: 1000;
    opacity: 0.82;
    font-family: var(--ff-primary);
}

/* Navbar container */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Navbar toggle button */
.navbar-toggler {
    /*border: 3px solid var(--clr-accent3);*/
    border: none;
    background-color: none;
    z-index: 1050;
    margin: 2rem auto;
    min-width: 13%;
    max-width: 15%;
}

/* Navbar toggle icon */
.navbar-toggler-icon {
    background-color: none;
    color: var(--clr-accent3);
    padding: 2rem;
}

/* Navbar links */
.nav__buttons {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

.nav__links {
    display: flex;
    column-gap: 4rem;
    align-items: center;
}

.nav__links a {
    color: var(--clr-body2);
    font-size: var(--fs-h3);
}

.nav__links a:hover {
    color: var(--clr-accent3);
    text-decoration: underline;
}

/* Media query for smaller screens */
@media (max-width: 991px) {
    .navbar-toggler {
        width: 50%;
    }

    .nav__buttons {
        justify-content: flex-start;
        width: 100%;
    }

    .nav__links {
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
    }

    .nav__links .nav-link {
        margin: 0.5rem 0;
    }

    .btn-contact {
        width: 100%;
        margin-top: 1rem;
    }
}
