@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* Global Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Custom Properties (CSS Variables) */
:root {
    /* Font settings */
    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Assistant", sans-serif;
    --fw-light: 300;
    --fw-reg: 400;
    --fw-semibold: 500;
    --fw-bold: 700;

    /* Color palette */
    --clr-accent: #3b82f6;
    --clr-accent2: #343a3d;
    --clr-accent3: #ff8200;
    --clr-accent4: #60a5fa;
    --clr-hover: #497ff3;
    --clr-hover2: #2563eb;
    --clr-shade: #128a66;
    --clr-body: #35312a;
    --clr-banner: #ffbb69;
    --clr-headings: #060506;
    --clr-headings2: #fff;
    --clr-body2: #f5f5f5;

    /* Font size */
    --fs-title: 5rem;
    --fs-h1: 3.6rem;
    --fs-h2: 2.4rem;
    --fs-h3: 2rem;
    --fs-body: 1.75rem;
    --fs-btn: 1.5rem;

    --spacing-mb: 4.8rem;
    --max-width: 80%;

    /* Box shadow */
    --bs-1: 0px 4px 16px rgba(0, 0, 0, 0.2);
    --bs-2: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

/* Responsive font sizes */
@media (max-width: 1200px) {
    :root {
        --fs-title: 4.5rem;
        --fs-h1: 2.7rem;
        --fs-h2: 2rem;
        --fs-h3: 1.65rem;
        --fs-body: 1.4rem;
        --fs-btn: 1.2rem;
    }
}

/* Scrollbar styles */
html::-webkit-scrollbar {
    width: 0.8rem;
    height: 1rem;
}

html::-webkit-scrollbar-track {
    background: var(--clr-headings);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--clr-accent);
    border-radius: none;
    padding-left: 0.1rem;
}

/* Body and container styling */
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    line-height: 1.6;
    overflow-x: hidden;
    background-color: var(--clr-accent);
}

/* Containers */
.container__body {
    color: var(--clr-body);
    max-width: 100rem;
    margin: 0 auto;
    line-height: 1.6;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    color: #fff;
}

/* Section and Heading Styles */
.heading {
    font-weight: var(--fw-bold);
    font-size: calc(2rem + 0.8vw);
    margin-bottom: 2.4rem;
    text-transform: capitalize;
}

.heading span {
    color: var(--clr-accent);
}

.section {
    padding: 4em 2em;
}

.container {
    display: flex;
    flex-direction: row;
    column-gap: 6.4rem;
    row-gap: 1.8rem;
}
